<div class="container-fluid container-fluid-custom" >
   <div style="text-align:center ;">
    <h1>About</h1>
    
    <p>
        Introducing our cutting-edge note-taking app: a versatile digital <br>
        companion designed to empower users in capturing and organizing their <br>
        thoughts effortlessly. With robust user authentication, secure your personal <br>
        notes with confidence. Seamlessly create, view, and manage your notes, <br>
        while enjoying the convenience of efficient note deletion. Elevate your <br>
        productivity with our user-friendly, feature-rich note-taking solution.
    </p>
</div>
    </div>